
/* ==========================================================
! 13. SECTION: Portfolio
========================================================== */
.project-item {  
  padding: 0;  
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin: 1em;
  position: relative;
  opacity: 1;
  transition: all .2s;
  transform: translateY(0px);
  a {
    cursor: url('../../images/projects2.cur'), projetos!important;   
    border-radius: 6px;
  }
}

.project-thumbnail {
  display: block;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  text-align: center;
  color: @white;
  padding: 1em;
  box-shadow: 0 0 5px @rgba-black;
  &:hover {
    color: @white;
    .project-description-wrapper {
      opacity: 1;
      transform: translateY(0px);
    } 
    .project-title, span.see-more {
      transform: translateY(0px);
    }  
  }
  &.dark {
    background-color: @brand-gray;
  }
  img {
    max-width: 250px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.project-description-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  //padding-top: 24%;
  opacity: 0;
  transition: all .2s;
  color: @white;
  position: relative;  
  background: @rgba-black;
}

.project-description {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 100%;
}

.project-title {
  text-transform: uppercase;
  font-size: 1.5em;
  transform: translateY(10px);
  transition: all .2s;
  &:after {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid @white;
    width: 50%;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;    
  }
}

.project-thumbnail {
  display: block;
  color: @white;
  position: relative;  
}

span.see-more {
  font-style: italic;
  text-transform: lowercase;
  font-size: 1em;
  transition: all .2s;
  transform: translateY(10px);
}

.project-overview {
  display: none;
  position: relative;
  &__header {
    margin: 1em 0 3em 0;
    border-bottom: 1px dotted @silver-gray;
    padding: 0 0 2em 0;
    h2 {
      font-size: 3em;
    }
  }
  &__date {
    display: inline;
    font-size: 1.5em;
    color: @brand-gray;
    margin-right: 1em;
  }
  &__tags {
    display: inline;
    font-size: 1.5em;
    text-transform: lowercase;
    color: @brand-orange;
  }
  &__description {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-right: 2%;
    h3 {
      padding-bottom: .5em;
    }
  }
  &__tools {
    margin: 2em 0;
  }
  &__preview {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
  @media screen and (max-width: @screen-xs) {
    &__description {
      width: 100%;
      margin: 0;
    }
    &__preview {
      display: none;
    }
  }
}



/* Lightbox */
.nivo-lightbox-inline {
  height: 100%;
  top: 0 !important;
  margin-top: 0 !important;
}


