<!-- @include ../includes/page-head.html -->
<!-- @include ../includes/loader.html -->

<!-- Main Content
================================================== -->
<section id="body">
  <div class="container">
    <!-- @include ../includes/navigation.html -->
    <!-- @include ../includes/v-card.html -->
    <!-- @include ../includes/resume.html -->
    <!-- @include ../includes/portfolio.html -->
    <!-- @include ../includes/skills.html -->
    <!-- @include ../includes/contact.html -->
  </div>
</section>
<!-- @include ../includes/page-foot.html -->